/*=======初始化======*/
* {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑', Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    text-align: center;
    width: 100%;
    height: 100%;
}

textarea {
    resize: none; /*禁止拉伸*/
    height: 200px;
}

p {
    margin: 0;
    padding: 0;
}

input {
    /*border-radius: 5px;*/
    border: 1px solid #ccc;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
}

.container ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
}

.container ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.container ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #000;
    -webkit-border-radius: 4px;
    outline-offset: -2px;
    border: 2px solid #000;
}

    .container ::-webkit-scrollbar-thumb:hover {
        height: 50px;
        background-color: #000;
        -webkit-border-radius: 4px;
    }
/*=======初始化        end======*/
body {
    width: 100%;
}


.container {
    margin: 0 auto;
    background-color: #1F1F1F;
    width: 1219px;
    height: 966px;
    text-align: center;
}

.nav {
    background-color: #333;
    width: 16%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

    .nav li {
        display: inline-block;
        width: 100%;
        line-height: 50px;
        margin-top: 33px;
        font-size: 20px;
    }

        .nav li a {
            display: inline-block;
            width: 100%;
            line-height: 50px;
            cursor: pointer;
        }

.nav_hover {
    background-color: #0078D7;
}

.content {
    width: 84%;
    height: 966px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 15px;
    padding-top: 40px;
}

    .content .datefilter {
        width: 250px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        overflow-y: scroll;
    }

    .content .source {
        display: inline-block;
        vertical-align: top;
        background-color: #292929;
        width: 773px;
        height: 100%;
    }

        .content .source ul {
            display: inline-block;
            vertical-align: top;
            height: 875px;
            overflow-x: scroll;
        }

.source ul li img {
    /*display:inline-block;
        vertical-align:top;*/
    width: 197px;
    height: 155px;
    /*background-color: red;*/
    border: 1px solid #858585;
}

.source ul li {
    display: inline-block;
    vertical-align: top;
    margin: 35px 0 0 35px;
}

    .source ul li p {
        margin-top: 31px;
        text-align: center;
        color: #fff;
        font-size: 18px;
    }

.source .dateSelect {
    width: 100%;
    height: 50px;
    background-color: #0078D7;
}

.dateSelect p {
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    margin-left: 28px;
    letter-spacing: 4px;
}

.datefilter button {
    display: inline-block;
    vertical-align: top;
    width: 338px;
    height: 50px;
    text-align: left;
    font-size: 20px;
    background-color: #0078D7;
    padding-left: 40px;
}

.datefilter ul {
    text-align: right;
    color: #fff;
    font-size: 18px;
    margin-right: 30px;
}

    .datefilter ul li {
        padding: 10px;
    }

        .datefilter ul li a {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 20px;
            cursor: pointer;
        }
