/*============初始化============*/
html {
    height: 100%;
}

body {
    background: #272727;
    text-align: center;
}

p {
    margin: 0px;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    border: none;
    outline: none;
}

a {
    color: #2d374b;
    text-decoration: none;
}

    a:hover {
        color: #cd0200;
        text-decoration: underline;
    }

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}
/*============初始化       end============*/


/*============页面============*/
.projectName {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #424141;
    margin-top: 200px;
    position: relative;
    text-shadow: 0 -1px 0 #858585, 0 1px 10px rgba(0,0,0,.6), 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.2), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 7px 10px rgba(0,0,0,.25), 0 15px 10px rgba(0,0,0,.2), 0 25px 15px rgba(0,0,0,.15);
}

.body .logIn-containner {
    width: 500px;
    height: 650px;
    border-radius: 10px;
    background: rgba(238,238,238,0.2);
    margin: 100px 0px 0px 1100px;
    z-index: -2;
}

.logIn-containner .logIn-header {
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px 10px 0 0;
}

.logIn-header p {
    line-height: 60px;
    color: rgba(255,255,255,0.8);
    font-size: 25px;
}

.logIn-containner .logIn-body {
    width: 100%;
    height: 530px;
    background: rgba(255,255,255,0.8);
}

.logIn-body input:not([type="checkbox"]) {
    font-size: 15px;
    width: 300px;
    height: 30px;
    display: block;
    padding: 6px 12px;
    color: #555;
    margin-left: 90px;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    z-index: 1;
}


/*============用户名输入框============*/
.logIn-body .logIn-UName {
    padding: 50px 0 0 0;
}

.uNamePositon1 {
    position: absolute;
    top: 282px;
    left: 1230px;
    color: rgba(0,0,0,1);
    transition: all 0.1s;
}

.uNamePositon2 {
    position: absolute;
    top: 244px;
    left: 1325px;
    color: rgba(89,89,89,1);
    transition: all 1s;
}
/*============用户名输入框      end============*/

/*============密码输入框============*/
.logIn-body .logIn-Pwd {
    padding: 30px 0 0 0;
}

.pwdPosition1 {
    position: absolute;
    top: 357px;
    left: 1230px;
    color: rgba(0,0,0,1);
    transition: all 0.1s;
}

.pwdPosition2 {
    position: absolute;
    top: 320px;
    left: 1330px;
    color: rgba(89,89,89,1);
    transition: all 1s;
}
/*============密码输入框    end============*/

/*============验证码输入框============*/
.logIn-body .logIn-ValidateCode {
    padding: 30px 0 0 0;
}

.validatePositon1 {
    position: absolute;
    top: 430px;
    left: 1230px;
    color: rgba(0,0,0,1);
    transition: all 0.1s;
}

.validatePositon2 {
    position: absolute;
    top: 392px;
    left: 1325px;
    color: rgba(89,89,89,1);
    transition: all 1s;
}


.logIn-ValidateCode img {
    border-radius: 10px;
    width: 150px;
    height: 60px;
    margin-left: -40px;
}

.logIn-ValidateCode a {
    position: relative;
    top: -10px;
}
/*============验证码输入框      end============*/


/*============记住密码复选框============*/
.logIn-body .logIn-Remember {
    margin: 30px 0 0 -200px;
}

.logIn-Remember input {
    width: 20px;
    height: 20px;
}

.logIn-Remember label {
    font-size: 15px;
    position: relative;
    top: -4px;
    color: #555;
}
/*============记住密码复选框   end============*/

/*============登录按钮============*/
.logIn-body .logIn-LogBtn button {
    width: 320px;
    height: 50px;
    background-color: rgba(89,89,89,0.2);
    border-radius: 10px;
    margin: 40px 0 0 10px;
    font-size: 20px;
    color: rgba(255,255,255,0.8);
}

.logIn-LogBtn button:hover {
    background-color: rgba(89,89,89,0.5);
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 12px rgba(72, 106, 170, 0.5);
    }

    100% {
        box-shadow: 0 0 12px rgba(72, 106, 170, 1.0),0 0 20px rgba(0, 140, 255, 1.0);
    }
}

.logIn-LogBtn button span {
    position: relative;
    transition: all 0.5s;
}

    .logIn-LogBtn button span:after {
        content: '»';
        color: rgba(255,255,255,0);
        top: 0;
        right: -20px;
        position: absolute;
        transition-timing-function: linear; /*规定过渡效果的速度曲线*/
    }

.logIn-LogBtn button:hover span {
    padding-right: 50px;
}

    .logIn-LogBtn button:hover span::after {
        color: rgba(255,255,255,1);
    }
/*============登录按钮        end============*/


.logIn-containner .logIn-footer {
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,0.2);
    border-radius: 0px 0px 10px 10px;
}

.logIn-footer p {
    text-align: right;
    font-size: 20px;
    padding: 18px 30px 0 0;
}

    .logIn-footer p a {
        color: rgba(255,255,255,0.2);
    }

        .logIn-footer p a:hover {
            color: rgba(255,255,255,0.8);
        }
/*============页面        end============*/

/*==========图标============*/
.img-admin {
    width: 42px;
    height: 42px;
    vertical-align: middle;
    display: inline-block;
    background: url('/Imgs/admin.png') 0px 0px no-repeat;
    background-size: 100%;
    position: absolute;
    top: 270px;
    left: 1525px;
}

.img-pwd {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    background: url('/Imgs/password.png') 0px 0px no-repeat;
    background-size: 100%;
    position: absolute;
    top: 352px;
    left: 1530px;
}


.img-validateCode {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    background: url('/Imgs/validateCode.png') 0px 0px no-repeat;
    background-size: 100%;
    position: absolute;
    top: 425px;
    left: 1531px;
}
/*==========图标      end============*/